@import './utils/visually-hidden';
@import './utils/variables';
@import './utils/mixins';

@import './base/common';
@import './base/container';
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/button';
@import './components/modal-window';
@import './components/features';
@import './components/about';
@import './components/team';
@import './components/customers';

// // portfolio
@import './components/portfolio/buttons';
@import './components/portfolio/portfolio';
