.customers-title {
  color: var(--title-text-color);
  @include font(28px, 700, 33px);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.customer-item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}
.customer-link {
  height: 90px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.customer-icon {
  transition: fill 250ms var(--timing-function);
  .customer-link:hover &,
  .customer-link:focus & {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .customer-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    display: flex;
    justify-content: space-between;
    margin: 0;
    &-title {
      @include font(36px, 700, 42px);
      margin-bottom: 50px;
    }
  }
  .customer-item {
    flex-basis: 170px;
    margin: 0;
  }
}
