.logo {
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  @include font(24px, 700, 28px);
}
.logo-accent {
  color: var(--accent-color);
}
.site-nav,
.contacts-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav a,/*.link,*/
  .contacts-nav a {
    display: block;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-nav {
    display: block;
  }
  .current {
    position: relative;
  }
  .link.current::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .site-nav .link {
    color: var(--title-text-color);
    &:hover,
    &:focus,
    &.current {
      color: var(--accent-color);
    }
  }
  .contacts-nav .link {
    display: inline-flex;
    color: var(--primary-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .contacts-nav .link,
  .site-nav .link,
  .footer .link {
    transition: color 250ms var(--timing-function);
  }
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    margin-left: 88px;
    & .item + .item {
      margin-left: 50px;
    }
  }
  .link-contact {
    align-items: center;
  }
  .mail-icon {
    width: 14px;
    height: 10px;
    fill: currentColor;
    margin-right: 10px;
  }
  .tel-icon {
    @extend .mail-icon;
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav a {
    @include font(12px, 500, 14px);
    padding: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
  .contacts-nav {
    display: flex;
    align-items: center;
    & .item + .item {
      margin-left: 50px;
    }
  }
  .mail-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}
