body {
  background-color: var(--title-color);
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

address {
  font-style: normal;
}
img {
  max-width: 100%;
  display: block;
}
p {
  margin: 0;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
header {
  background-color: var(--title-color);
  border-bottom: 1px solid #ececec;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
