:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bcg-secondary-color: #2f303a;
  --bcg-primary-color: #f5f4fa;
  --svg-color: #afb1b8;
  --card-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
